<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>registered</title>
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/04-registered.css" />
  </head>
  <body>
    <div id="app">
      <!-- v-if 判斷註冊狀態 -->
      <div v-if="!isReg">
        <div class="input-box">
          <p>NAME</p>
          <input
            type="text"
            placeholder="輸入使用者名稱"
            v-model="registered.username"
          />
          <!-- 顯示 err_message 文字 -->
          <p class="error" v-if="err_message.username">
            {{err_message.username}}
          </p>
        </div>
        <div class="input-box">
          <p>PASSWORD</p>
          <input
            type="password"
            placeholder="輸入密碼"
            v-model="registered.password"
          />
          <!-- 顯示 err_message 文字 -->
          <p class="error" v-if="err_message.password">
            {{err_message.password}}
          </p>
        </div>
        <div class="input-box">
          <p>E-MAIL</p>
          <input
            type="text"
            placeholder="輸入email"
            v-model="registered.email"
          />
          <!-- 顯示 err_message 文字 -->
          <p class="error" v-if="err_message.email">{{err_message.email}}</p>
        </div>
        <div class="input-box">
          <p>年齡</p>
          <input
            type="number"
            placeholder="輸入年齡"
            v-model="registered.age"
          />
        </div>
        <div class="input-box">
          <input type="radio" id="boy" value="boy" v-model="registered.sex" />
          <label for="boy">boy</label>
          <input type="radio" id="girl" value="girl" v-model="registered.sex" />
          <label for="girl">girl</label>
        </div>
        <div class="input-box">
          <input type="checkbox" id="checkbox" v-model="registered.terms" />
          <label for="checkbox">我已閱讀使用者條款</label>
        </div>
        <a class="btn" @click="handSubmit">送出</a>
      </div>
      <div v-else="isReg">
        <h1>註冊成功</h1>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="./js/vue.js"></script>
    <script>
      const { ref, reactive } = Vue;
      const app = {
        setup() {
          const url = "https://vue-lessons-api.herokuapp.com/auth/registered";
          const isReg = ref(false);
          const registered = reactive({
            username: "",
            password: "",
            sex: "",
            email: "",
            age: "",
            terms: false,
          });
          const err_message = reactive({});

          const handError = (err) => {
            // Object.keys() 取出 err.error_message 物件的 key 回傳新陣列
            // forEach() 遍歷陣列每個元素，存進 err_message 物件
            Object.keys(err).forEach((item) => (err_message[item] = err[item]));
            console.log(err_message);
          };

          const handSubmit = () => {
            axios
              .post(url, registered)
              .then((res) => {
                console.log(res.data);
                isReg.value = true;
              })
              .catch((err) => {
                console.log(err.response.data);
                handError(err.response.data.error_message);
              });
          };

          return { registered, handSubmit, isReg, err_message };
        },
      };

      Vue.createApp(app).mount("#app");
    </script>
  </body>
</html>
